body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans";
}

.my-container:before,
.my-container:after,
.my-container *:first-child:before,
.my-container *:first-child:after {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  background: black;
  border-radius: 50%;
}
.my-container:after {
  right: 0;
  top: 0;
}
.my-container *:first-child:before {
  left: 0;
  bottom: 0;
}
.my-container *:first-child:after {
  bottom: 0;
  right: 0;
}

.contain :hover + .my-container {
  background: black !important;
}

.rectangle:before,
.rectangle:after,
.rectangle *:first-child:before,
.rectangle *:first-child:after {
  content: "";
  height: 5px;
  width: 5px;
  position: absolute;
  background: black;
  border-radius: 50%;
}
.rectangle:after {
  right: 0;
  top: 50%;
}
.rectangle:before {
  left: 50%;
  top: 0;
}
.rectangle *:first-child:before {
  left: 0;
  bottom: 50%;
}
.rectangle *:first-child:after {
  bottom: 0;
  right: 50%;
}

.hide {
  display: none;
}

.rotateNone {
  transform: rotate(0deg);
}
.rotate270 {
  transform: rotate(-270deg);
}

.c846090:hover,
.c31688E:hover,
.c42B879:hover,
.cFEE83A:hover {
  border: 3px solid #7f7f7f;
}
.bordered {
  border: 3px solid black;
}
.legendBox {
  background-color: white;
  position: absolute;
  margin-top: 50%;
  margin-left: 5%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #b9b9b9;
  display: flex;
  flex-direction: row;
  min-width: 10%;
  z-index: 100;
}

.legendColor {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
}
